<button class="icon-button" (click)="openModal()">
  <span class="icon-edit">✎</span>
</button>
<app-modal [isVisible]="isModalVisible" (closeModal)="closeModal()">
  <div class="update-crypto-modal">
    <h2>Actualizar {{ selectedCrypto?.name }}</h2>
    <input
      type="number"
      [(ngModel)]="amount"
      placeholder="Cantidad"
      [value]="amount"
    />
    <div class="actions">
      <button
        class="btn"
        (click)="updateCrypto()"
        [disabled]="selectedCrypto === null"
      >
        Actualizar
      </button>
      <button class="btn btn--cancel" (click)="closeModal()">Cancelar</button>
    </div>
  </div>
</app-modal>
