.crypto-management {
  min-height: 100svh;

  &__header {
    padding: 10px 24px;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 48px;
  }

  &__content {
    height: calc(100svh - 100px);
  }
}
